
footer{
    width: 100%;
    background: #353535;
    height: 200px;
}
.logo-footer{
    color:white;
    font-size: 30px;
    margin-left: 36px;
    margin-top:0
}
.footer{
    font-size: 17px;
    color:white;
    text-decoration: none;
}
li{
    list-style-type: none;
}
.proposer,.devenir,.mention,{
    margin-bottom:10px;
}
.contact{
    margin-bottom: 30px;
}