.la_note{
    object-fit: cover;
    width: 100%;
    height: 250px;
}
.image{
    margin:0;
}
.titre_note{
    display: flex;
    background: #f6f6f6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    position:absolute;
    top:256px;
}
.coeur,.coeur-menu {
    font-size: 25px;
    margin-top: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    &:active{
        animation : padding  0.3s  ease-in-out ;
        display : block;
        opacity : 1 ;
        background : linear-gradient(to left, #9356dc , #b35cdc , #cf64dc , #e86edb , #ff79da );
        -webkit-background-clip :text;
        -webkit-text-fill-color : transparent ;
        font-weight : bold ;
    }
}
.coeur-menu{
    left: 291px;
    top: 11px;
}

.francaise{
    margin-left: 20px;
}
.menu{
    background: #f6f6f6;
    margin-bottom: 41px;
    height: 900px;
}
.entrees{
    margin-top:31px;
}
.titre{
    margin-left: 20px;
    border-bottom: 3px solid #99E2D0;
    width: 62px;
}
.bouton{
    background-color: #fff;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 4px 6px #aaa;
    position: relative;
    cursor: pointer;
    width: 290px;
    margin-left: 22px;
}

.animation-entree-1{
    animation: appariton_menu 2s ease-in-out 0s forwards;
}
.animation-entree-2{
    animation: appariton_menu 3s ease-in-out 0s forwards;
}
.animation-entree-3{
    animation: appariton_menu 4s ease-in-out 0s forwards;
}
.animation-plat-1{
    animation: appariton_menu 6s ease-in-out 0s forwards;
}
.animation-plat-2{
    animation: appariton_menu 7s ease-in-out 0s forwards;
}
.animation-plat-3{
    animation: appariton_menu 8s ease-in-out 0s forwards;
}
.animation-dessert-1{
    animation: appariton_menu 10s ease-in-out 0s forwards;
}
.animation-dessert-2{
    animation: appariton_menu 11s ease-in-out 0s forwards;
}
.animation-dessert-3{
    animation: appariton_menu 12s ease-in-out 0s forwards;
}

.partie_complemtaire{
    display: flex;
}
.tarif{
    position:absolute;
    top: 24px;
    left: 263px;
    font-weight: bold;

}
.check{
    border-bottom-right-radius: 15px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    height: 72px;
    border-top-right-radius: 15px;
    position:absolute;
    top:0;
    padding: 20px;
    right: -50px;
    opacity: 0;
}
.bouton:hover .check-tarif{
    position:absolute;
    top:0;
    right: 0px;
    opacity: 1;
    height: 32px;
    width: 30px;
    margin:0;
  
}

.ok{
    color: #ffff;
    font-size: 25px;
    transform: rotate(360deg);
    transition-duration: 0.7s;
        &:hover.ok{
        transform: rotate(0);
        }
}

.complement{
    margin-top:-20px;
    font-size: 11px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tartare,.veloute,.soupe,.coquilles,.magret,.pigeonneau,.petale,.fondant,.millefeuille{
    margin-top: 0;
    font-weight: bolder;
    font-size: 19px;
    display: flex;
    text-overflow: ellipsis;
    overflow: hidden;
}
