@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-index {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appariton_menu {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes apparition-tarif {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.logo-footer, .loader, h1, h3 {
  font-family: "Shrikhand";
}

p, strong, a, h2, h4, span {
  font-family: "Roboto", sans-serif;
}

.en_tete, .restaurants {
  background: #f6f6f6;
  padding-top: 20px;
  height: 300px;
}

.restaurants {
  height: 1320px;
}

.recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  width: 100%;
  height: 40px;
  text-align: center;
}

.barre_search {
  border: none;
  background: #eaeaea;
  margin-left: 10px;
}

::placeholder {
  color: black;
  font-weight: bold;
}

.explication {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  padding: 25px;
  margin: 15px 20px 15px 30px;
  border-radius: 20px;
  box-shadow: 1px 2px 8px 2px #c4c4c4;
  background-color: #f5f5f5;
  height: 17px;
}

.operation__steps--number {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 5px 9px;
  margin-left: -40px;
}

.icone {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  color: grey;
}

.choix {
  font-weight: bold;
  font-size: 16px;
}

.bouton_explorer {
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px 5px;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
  width: 199px;
  transition: opacity 1s;
}
.bouton_explorer:hover {
  opacity: 0.5;
}

.bouton_commander {
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px 5px;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
  width: 199px;
  opacity: 1;
  width: 160px;
  margin-bottom: 80px;
  transition: opacity 1s;
}
.bouton_commander:hover {
  opacity: 0.5;
}

body {
  margin: 0;
  padding: 0;
  font-family: Shrikhand;
  color: black;
  text-align: center;
}

.section {
  background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  height: 100%;
  width: 100%;
  line-height: 100%;
  font-size: x-large;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  animation: loader-index 1s ease-in-out 4s forwards;
}

.couvert {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  animation: spin 1s linear infinite;
}

.loader {
  vertical-align: middle;
  position: absolute;
  top: 40%;
  left: 19%;
  font-size: 40px;
}

.logo {
  height: 2em;
  margin-left: 74px;
  margin-bottom: 11px;
  margin-top: 20px;
}

.fleche {
  font-size: 30px;
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer;
}

.logo-menu {
  width: 190px;
  margin-top: 15px;
  margin-left: 30px;
}

footer {
  width: 100%;
  background: #353535;
  height: 226px;
}

.logo-footer {
  color: white;
  font-size: 24px;
  margin-left: 36px;
  padding: 20px 0 15px 0;
}

.footer {
  font-size: 17px;
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.proposer, .devenir, .mention {
  margin-bottom: 10px;
}

.contact {
  margin-bottom: 30px;
}

.la_note {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.image {
  margin: 0;
}

.titre_note {
  display: flex;
  background: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  position: absolute;
  top: 256px;
}

.coeur, .coeur-menu {
  font-size: 25px;
  margin-top: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.coeur-menu {
  left: 291px;
  top: 11px;
}

.francaise {
  margin-left: 20px;
}

.menu {
  background: #f6f6f6;
  margin-bottom: 41px;
}

.entrees {
  margin-top: 34px;
}

.titre {
  margin-left: 20px;
  border-bottom: 3px solid #99E2D0;
  width: 62px;
}

.bouton {
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  width: 290px;
  margin-left: 22px;
}

.animation-entree-1 {
  animation: appariton_menu 2s ease-in-out 0s forwards;
}

.animation-entree-2 {
  animation: appariton_menu 3s ease-in-out 0s forwards;
}

.animation-entree-3 {
  animation: appariton_menu 4s ease-in-out 0s forwards;
}

.animation-plat-1 {
  animation: appariton_menu 6s ease-in-out 0s forwards;
}

.animation-plat-2 {
  animation: appariton_menu 7s ease-in-out 0s forwards;
}

.animation-plat-3 {
  animation: appariton_menu 8s ease-in-out 0s forwards;
}

.animation-dessert-1 {
  animation: appariton_menu 10s ease-in-out 0s forwards;
}

.animation-dessert-2 {
  animation: appariton_menu 11s ease-in-out 0s forwards;
}

.animation-dessert-3 {
  animation: appariton_menu 12s ease-in-out 0s forwards;
}

.partie_complemtaire {
  display: flex;
}

.tarif {
  position: absolute;
  top: 36px;
  left: 206px;
  font-weight: bold;
}

.check {
  border-bottom-right-radius: 15px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  height: 72px;
  border-top-right-radius: 15px;
  position: absolute;
  top: 0;
  padding: 20px;
  right: -50px;
  opacity: 0;
}

.check:active {
  position: absolute;
  top: 0;
  right: 0px;
  opacity: 1;
  height: 32px;
  width: 30px;
  margin: 0;
}

.ok {
  color: #ffff;
  font-size: 25px;
}

.complement {
  margin-top: -20px;
  font-size: 11px;
  font-weight: bold;
}

.tartare, .veloute, .soupe, .coquilles, .magret, .pigeonneau, .petale, .fondant, .millefeuille {
  margin-top: 0;
  font-weight: bolder;
  font-size: 19px;
  display: flex;
}

body {
  margin: 0;
}

.titre_reservez {
  width: 100%;
  text-align: center;
}

.reservez {
  font-weight: bolder;
  font-size: 32px;
}

.decouvrez {
  font-weight: bolder;
  margin-bottom: 25px;
}

.titre_decouvrez {
  width: 100%;
  text-align: center;
  color: gray;
}

.titre_fonctionnement, .titre_restaurants {
  margin-left: 15px;
  margin-top: 20px;
}

.explication:hover {
  background: #deebff;
}

.carte, .carte2 {
  border-radius: 25px;
  box-shadow: 4px 4px 6px #aaa;
  margin: 20px;
  position: relative;
  background: #fff;
  height: 284px;
}

.image_restaurants {
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 320px;
  height: 100%;
  max-height: 220px;
}

.nouveau {
  color: #008766;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 5px;
  position: absolute;
  right: 1%;
  top: 5%;
}

figure {
  margin-left: 0;
}

.nom_restaurent {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 19px;
  margin-left: 15px;
  margin-top: 10px;
}

.nom-resto {
  margin-left: 15px;
  margin-top: 0;
}

.coeur-accueil {
  font-size: 25px;
  margin-top: 10px;
  position: absolute;
  top: 222px;
  left: 270px;
}

/*# sourceMappingURL=style.css.map */
