.la_note{
    object-fit: cover;
    width: 100%;
    height: 250px;
}
.image{
    margin:0;
}
.titre_note{
    display: flex;
    background: #f6f6f6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    position:absolute;
    top:256px;
}
.coeur,.coeur-menu {
    font-size: 25px;
    margin-top: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    &:active{
        animation : padding  0.3s  ease-in-out ;
        display : block;
        opacity : 1 ;
        background : linear-gradient(to left, #9356dc , #b35cdc , #cf64dc , #e86edb , #ff79da );
        -webkit-background-clip :text;
        -webkit-text-fill-color : transparent ;
        font-weight : bold ;
    }
}
.coeur-menu{
    left: 291px;
    top: 11px;
}

.francaise{
    margin-left: 20px;
}
.menu{
    background: #f6f6f6;
    height: 1040px;
}
.entrees{
    margin-top:31px;
}
.titre{
    margin-left: 20px;
    border-bottom: 3px solid #99E2D0;
    width: 62px;
}
.bouton{
    background-color: #fff;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 4px 4px 6px #aaa;
    cursor: pointer;
    display: flex;
    flex-direction:row;
    justify-content: center;
    height: 88px;
    width: 90%;
}

.animation-entree-1{
    animation: appariton_menu 2s ease-in-out 0s forwards;
}
.animation-entree-2{
    animation: appariton_menu 3s ease-in-out 0s forwards;
}
.animation-entree-3{
    animation: appariton_menu 4s ease-in-out 0s forwards;
}
.animation-plat-1{
    animation: appariton_menu 6s ease-in-out 0s forwards;
}
.animation-plat-2{
    animation: appariton_menu 7s ease-in-out 0s forwards;
}
.animation-plat-3{
    animation: appariton_menu 8s ease-in-out 0s forwards;
}
.animation-dessert-1{
    animation: appariton_menu 10s ease-in-out 0s forwards;
}
.animation-dessert-2{
    animation: appariton_menu 11s ease-in-out 0s forwards;
}
.animation-dessert-3{
    animation: appariton_menu 12s ease-in-out 0s forwards;
}

.partie_complemtaire{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}
.tarif{
    font-weight: bold;
    transition: left 220ms ease-in-out;

}
.check{
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    border-top-right-radius: 15px;
    width: 0;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    max-width: 100%;
}
.bouton:hover .check-tarif{
    opacity: 1;
    height: 100%;
    width: 70px;
    margin:0;
    transform: translateX(0); 
}
.bouton:hover .bloc-texte{
    width:calc(100% - 21%) ;
}
.ok{
    color: #ffff;
    font-size: 25px;
}
.bouton:hover .ok{
    transform: rotate(360deg);
    transition-duration:.5s;
}

.complement{
    font-size: 15px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin:0;
    margin-left: 10px;
}
.bloc-texte{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: none;
    transition: width 850ms linear;
}
    
.intitule{
    margin-top: 15px;
    font-weight: bolder;
    font-size: 19px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;
    margin-bottom: 0;
}
